@import "tailwindcss";

/* ライトモード用 */
:root {
  --background: #fffceb;
  --foreground: #171717;

  --header-background: #fff7b2;
  --header-border: #dfded6a1;

  --sidebar-menu-background: #fff493;
  --sidebar-menu-foreground: #000000;
  --sidebar-menu-content: #6b6b6b;

  --page-article-background: #fffef8;
  --page-article-border: #dfded6a1;

  --table-border: #aaa;
  --table-th: #eee;
  --table-td: #fff;
}

/* ダークモード用 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-m-plus-1p);
  --font-mono: var(--font-m-plus-1-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "M PLUS 1p", Arial, Helvetica, sans-serif;
}

header {
  background: var(--header-background);
  border-bottom: 1px solid var(--header-border);
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid gray;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 1rem;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: .8rem 0 .64rem 0;
}

h4, h5, h6 {
  font-weight: 500;
  margin: .45rem 0;
}

p {
  margin: .48rem 0;
}

li {
  margin: .32rem 0;
}

ul {
  list-style: square;
  margin: .64rem 0 0 1.6rem;
  column-width: 16rem;
}

a {
  color: #4d68ff;

  &:hover:not(.hover\:no-underline) {
    text-decoration: underline;
  }
}

td, th, table {
  border: 1px solid var(--table-border);
}

td, th {
  padding: .32rem .48rem;
}

td {
  background: var(--table-td);
}

th {
  background: var(--table-th);
}

table {
  margin-top: 1rem;
}

.horizontal-list li {
  display: inline-block;
}

.layout-header {
  @apply grid grid-cols-12 text-lg;
  font-size: 1.25rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.wiki-logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.layout-sidebar {
  margin-right: .5rem;
}

.sidebar-menu {
  background: var(--sidebar-menu-background);
  color: var(--sidebar-menu-foreground);

  width: 100%;
  padding: .36rem .64rem;
}
.sidebar-menu-title {
  font-weight: 500;
}
.sidebar-menu-list {
  list-style: none;
  margin-top: 0;
}
.sidebar-menu-content {
  font-size: .9rem;
  color: var(--sidebar-menu-content);
}

.page-article {
  background: var(--page-article-background);
  border: 1px solid var(--page-article-border);
}

.message-box {
  width: auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: .2rem .8rem;
  gap: .75rem;
}

.text-foreground {
  color: var(--foreground);
}