@import "tailwindcss";

/* ライトモード用 */
:root {
  --background: #fffceb;
  --foreground: #171717;
  --foreground-link: #4d68ff;

  --header-background: #fff7b2;
  --header-border: #dfded6a1;

  --sidebar-menu-background: #fff493;
  --sidebar-menu-foreground: #000000;
  --sidebar-menu-content: #6b6b6b;

  --page-article-background: #fffef8;
  --page-article-border: #dfded6a1;

  --table-border: #aaa;
  --table-th: #eee;
  --table-td: #fff;

  --information-box-background: var(--table-td);
  --information-box-border: #fff06b;
  --information-box-title-background: #ffee51;
  --information-box-title-border-top: #fff6a1;
  --information-box-title-border-side: #f7e759;
  --information-box-title-border-bottom: #e7dc72;;
}

/* ダークモード用 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1b01;
    --foreground: #dddddd;
    --foreground-link: #4d68ff;
    
    --header-background: #645c15;
    --header-border: #b3b1a6a1;

    --sidebar-menu-background: #867d2a;
    --sidebar-menu-foreground: #dddddd;
    --sidebar-menu-content: #c2c2c2;

    --page-article-background: #464332;
    --page-article-border: #817e64a1;

    --table-border: #aaa;
    --table-th: #111;
    --table-td: #505050;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-m-plus-1p);
  --font-mono: var(--font-m-plus-1-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "M PLUS 1p", Arial, Helvetica, sans-serif;
}

header {
  background: var(--header-background);
  border-bottom: 1px solid var(--header-border);
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid gray;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 1rem;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: .8rem 0 .64rem 0;
}

h4, h5, h6 {
  font-weight: 500;
  margin: .45rem 0;
}

h1, h2, h3, h4, h5, h6 {
  display: flow-root;
}

p {
  margin: .48rem 0;
}

li {
  margin: .32rem 0;
}

ul {
  list-style: square;
  margin: .64rem 0 0 1.6rem;
}

.column-list {
  column-width: 16rem;
}

a {
  color: var(--foreground-link);

  &:hover:not(.hover\:no-underline) {
    text-decoration: underline;
  }
}

td, th, table {
  border: 1px solid var(--table-border);
}

td, th {
  padding: .32rem .48rem;
}

td {
  background: var(--table-td);
}

th {
  background: var(--table-th);
}

table {
  margin-top: 1rem;
}

.horizontal-list li {
  display: inline-block;
}

.link-not-found {
  color: rgb(194, 29, 29);
}

.layout-header {
  @apply grid grid-cols-12 text-lg;
  font-size: 1.25rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.wiki-logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.layout-sidebar {
  margin-right: .5rem;
}

.sidebar-menu {
  background: var(--sidebar-menu-background);
  color: var(--sidebar-menu-foreground);

  width: 100%;
  padding: .36rem .64rem;
}
.sidebar-menu-title {
  font-weight: 500;
}
.sidebar-menu-list {
  list-style: none;
  margin-top: 0;
}
.sidebar-menu-content {
  font-size: .9rem;
  color: var(--sidebar-menu-content);
}

.page-article {
  background: var(--page-article-background);
  border: 1px solid var(--page-article-border);
}

.message-box {
  width: auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: .2rem .64rem;
  gap: .75rem;
}

.text-foreground {
  color: var(--foreground);
}

.pixel-image {
  image-rendering: pixelated;
}

.information-box {
  float: right;
  clear: right;
  width: 21rem;
  background: var(--information-box-background);
  border: 1px solid var(--information-box-border);
  padding: .48rem;
  margin-left: .36rem;
  margin-bottom: .64rem;
}

.information-box-title {
  background: var(--information-box-title-background);
  text-align: center;
  padding: .24rem .36rem;
  border: 3px solid;
  border-color: var(--information-box-title-border-top)
    var(--information-box-title-border-side)
    var(--information-box-title-border-bottom)
    var(--information-box-title-border-side);
  font-weight: 500;
  margin-bottom: .32rem;
}

.information-box-content {
  padding: .32rem;
}

.information-box-image {
  width: 160px;
  height: 160px;
  max-width: 100%;
  aspect-ratio: auto;
}